.backgroundFooter {
  background-color: #514e4e;
  color: white;
  /* width: 100% !important; */
}
.mainRowFooter {
  /* padding: 150px; */
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
}
.headingsss {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 20px;
}
.ul-md-text {
  list-style: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
}
.ul-md-text li {
  margin-bottom: 10px;
}
.socialIcons {
  padding-left: 280px;
  padding-right: 280px;
}
.customRowFooter {
  padding-right: 320px !important;
  padding-left: 320px !important;
}
@media screen and (max-width: 768px) {

  .mainRowFooter {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .ul-text {
    font-size: 0.9rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
  }
  .ul-text li {
    margin-bottom: 0px !important;
  }
  .footersomething {
    line-height: 20px !important;
  }
}
