@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.previewContainer {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para-preview {
  width: 31rem;
  font-size: 1rem;
}
.buttonGroups .btn {
  min-width: 90px;
  min-height: 20px !important;
  font-size: 1.5rem;
}
.customBox {
  /* flex-direction: row !important; */
  width: 50rem;
}
.buttonsShoop button {
  width: 7rem;
}

.customPreviewBox {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  font-size: 1rem;
}
.outerBox {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .para-preview {
    width: 15rem;
    text-align: left;
    font-size: 0.9rem;
  }
  .previewContainer {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: white;
    display: block;
    flex-direction: none;
    justify-content: none;
    align-items: none;
  }
  .buttonGroups .btn {
    min-width: 50px !important; /* adjust this value as needed */
    min-height: 20px !important; /* adjust this value as needed */
    font-size: 1.2rem !important;
  }
  .customBox {
    width: 22rem;
  }
  .customPreviewBox {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 1rem;
  }
  .buttonsShoop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
